.chartContainer {
    width: 50%;
    padding: 10px;
}
.chartContainer:first-child {
    width: 100%;
    padding: 0;
}

h1 {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .chartContainer {
        width: calc(100%/3);
    }
    .chartContainer:first-child {
        width: 75%;
    }
}