

.butt {
    clip-path: circle();
    margin: 2px 1px;
    background-color: var(--bg-color);
}

.butt img {
    width: 50%;
    height: auto;
}

.butt:active {
    background-color: var(--bg-color-active);
    transform: scale(0.90);
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .butt {
        margin: 4px 2px;
    }
    .butt:hover {
        background-color: var(--bg-color-hover);
    }
}